<h3>Pingry COVID-19 Update</h3>
<h5>A change has been noted on your child's quarantine status</h5>
<hr/>

<p>Dear Caregiver of <%= "#{@student.first_name}"%>,</p>

<p>Based on the most recent information from our Contact Tracing team, <%= @student.first_name %>’s quarantine period has been updated. The updated status of your child’s quarantine is listed below:</p>

<ul>
    <li>Updated Date of Most Recent Exposure: <%= @quarantine.exposure %></li>
    <li>Updated End Date: <%= @quarantine.end_date || (@quarantine.is_seven_day ? @quarantine.exposure + 7 : @quarantine.exposure + 14) %></li>
    <li>Updated Earliest Possible Date of Return to Campus: <%= @quarantine.end_date ? @quarantine.end_date + 1 : (@quarantine.is_seven_day ? @quarantine.exposure + 8 : @quarantine.exposure + 15) %></li>
</ul>

<p>If <%= @student.first_name %> begins developing symptoms or has any other changes in quarantine status, please contact <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>.</p>

<p>Thank you for your help in keeping Pingry safe!</p>
<p>The Pingry School</p>

<p>CONFIDENTIAL AND/OR PRIVILEGED: This communication contains information intended only for use by the individual or entity to which it is addressed and may contain private and/or sensitive information. If you are not the intended recipient or have received this message in error, you are hereby notified that any disclosure, copying, distribution or use of its content is strictly prohibited and illegal. If you have received this transmission in error, please notify the above sender immediately and permanently destroy all copies of this message.</p>

