<h3>Pingry COVID-19 Update</h3>
<h5>Your child has just entered a quarantine period</h5>
<hr/>

<p>Dear Caregiver of <%= "#{@student.first_name}"%>,</p>

<p>Your child has been identified by Pingry’s Contact Tracing Team as having had close contact with a COVID-19 case on <%= @quarantine.exposure %>. In order to minimize potential community transmission, <strong>your child will need to enter a mandatory quarantine starting on <%= @quarantine.exposure %></strong>. There are two approved options to return to campus from <a href='https://www.cdc.gov/quarantine/index.html'>quarantine.</a></p> 



<strong>Option 1: </strong>
<p>Quarantine at home for 10 days starting on <%= @quarantine.exposure %> and ending on <%= @quarantine.exposure + 10%>. <%= "#{@student.first_name}"%>’s earliest possible date of return to campus would be on <%= @quarantine.exposure + 11 %>.</p>

<strong>Option 2:</strong>
<p>Quarantine at home for a minimum of 5 days starting on <%= @quarantine.exposure %> and ending on <%= @quarantine.exposure + 5 %>. <%= "#{@student.first_name}"%>’s earliest possible day of return to campus would be on <%= @quarantine.exposure + 6 %> provided your child meets all of the following criteria: </p>

<ul>
    <li><%= "#{@student.first_name}"%> remains asymptomatic for the duration of the quarantine period</li>
    <li><%= "#{@student.first_name}"%> submits a negative test result from a rapid antigen test (at home or administered by a physician) taken on or after <%= @quarantine.exposure + 5 %> to the appropriate campus nurse and <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>, including full name, date of birth and date of test taken.</li>
</ul>

<p>During this quarantine period, your child is not permitted on Pingry campuses, at in-person Pingry events, or around Pingry community members at any time for any reason.</p>

<p>Please note if our Contact Tracing Team identifies your child as a close contact and your child’s vaccination records are not already uploaded and approved by the time you receive this notification, <strong>your child must remain at home</strong> — even if they are vaccinated —until our Health and Safety Team approves their vaccination records. This process may take up to one business day, during which your child must stay at home as a remote learner.</p>

<p>As part of our contact tracing process, we seek to share the fact that your child has been identified as a close contact as quickly as possible, but we appreciate that a phone call will be helpful to process this information and ask clarifying questions. <strong>A member of the Contact Tracing team will be in touch, via phone, within the next 48 hours. If you do not receive a call, please reach out to us at <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a></strong>. We appreciate your understanding that weekends and/or holidays may cause a slight delay.</p>

<p>Please monitor your child for any symptoms of COVID-19. If <%= @student.first_name %> develops any of the following symptoms, please reach out to your healthcare provider and notify us via email at <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>:</p>

<ul>
    <li>Fever or chills</li>
    <li>Cough</li>
    <li>Shortness of breath or difficulty breathing</li>
    <li>Fatigue</li>
    <li>Muscle or body aches</li>
    <li>New loss of taste or smell</li>
    <li>Sore throat</li>
    <li>Congestion or runny nose</li>
    <li>Nausea or vomiting</li>
    <li>Diarrhea</li>
</ul>

<p>We ask that you inform Pingry that your child will be participating as a remote learner for the duration of their quarantine by emailing the appropriate divisional attendance email:</p>

<ul>
    <li>Lower School: <a href="mailto:lsattendance@pingry.org">lsattendance@pingry.org</a>  + your child's homeroom teacher</li>
    <li>Middle School: <a href="mailto:msattendance@pingry.org">msattendance@pingry.org</a> </li>
    <li>Upper School: <a href="mailto:usattendance@pingry.org">usattendance@pingry.org</a></li>
</ul>

<p>Pingry  respects your family’s privacy and will not be sharing information regarding <%= @student.first_name %>’s quarantine outside of our Contact Tracing Team. However, we do encourage you to connect with <%= @student.first_name %>’s advisor/homeroom teacher to discuss how we can best support <%= @student.first_name %> at this time. You can also feel free to inform coaches, club advisors, or other adult members of the Pingry community if you feel comfortable with doing so.</p>

<p>We truly appreciate your cooperation in keeping the Pingry community safe. You may also be contacted by the local Department of Health. Please let us know if there is anything we can do to help support your family during this time.</p>

<p>Thank you,</p>
<p>The Pingry School</p>

<p>CONFIDENTIAL AND/OR PRIVILEGED: This communication contains information intended only for use by the individual or entity to which it is addressed and may contain private and/or sensitive information. If you are not the intended recipient or have received this message in error, you are hereby notified that any disclosure, copying, distribution or use of its content is strictly prohibited and illegal. If you have received this transmission in error, please notify the above sender immediately and permanently destroy all copies of this message.</p>
