<h3>Pingry COVID-19 Update</h3>
<h5>You have just entered a quarantine period</h5>
<hr/>

<p>Dear <%= "#{@student.first_name}"%>,</p>

<p>You have been identified by Pingry’s Contact Tracing Team as having had close contact with a COVID-19 case on <%= @quarantine.exposure %>. In order to minimize potential community transmission, <strong>you will need to enter a mandatory quarantine starting on <%= @quarantine.exposure %></strong>. There are two approved options to return to campus from <a href='https://www.cdc.gov/quarantine/index.html'>quarantine.</a></p> 


<strong>Option 1: Traditional Quarantine </strong>
<p>Quarantine at home for 10 days beginning <%= @quarantine.exposure %> and ending on <%= @quarantine.exposure + 10%>. Your earliest possible date of return to campus would be on <%= @quarantine.exposure + 11 %>.</p>

<strong>Option 2: Abbreviated At-Home Quarantine</strong>
<p>Quarantine at home for a minimum of 5 days beginning <%= @quarantine.exposure %> and ending on <%= @quarantine.exposure + 5 %>. Your earliest possible day of return to campus would be on <%= @quarantine.exposure + 6 %> provided you meets all of the following criteria: </p>

<ul>
    <li>Remain asymptomatic for the duration of the quarantine period</li>
    <li>Submit a negative test result from a rapid antigen test — administered at home or by a physician and taken on or after day five of the isolation period — to the appropriate campus nurse and <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>, including full name, date of birth, and date of test taken. Click <a href="https://www.pingry.org/hp/21-22-bettertogether/example-photo-test-result-rat">here</a> for an example.</li>
    <li>Wear a mask while on campus between <%= @quarantine.exposure + 6 %> and <%= @quarantine.exposure + 10 %>.</li>
</ul>

<strong>Option 3: Test to Stay</strong>
<p>You may return to school immediately provided the following criteria are met: </p>

<ul>
    <li>You are currently asymptomatic and must remain asymptomatic for 10-days following their close contact.</li>
    <li>You must submit two negative test results from at-home rapid antigen tests. The first test must be administered, submitted, and approved in advance of the next school day. The second test must be administered, submitted, and approved on <%= @quarantine.exposure + 5 %>. Test results should be submitted to the appropriate campus nurse and ContactTracing@pingry.org, including full name, date of birth, and date that the test was taken.  Click <a href="https://www.pingry.org/hp/21-22-bettertogether/example-photo-test-result-rat">here</a> for an example.</li>
    <li>You must wear a mask while on campus until <%= @quarantine.exposure + 6 %>.</li>
</ul>

<p><strong>Your immediate next steps are:</p>
<ol>
    <li>Contact Human Resources and</li>
    <li>Either your Division Director</strong> (and Department Chair for Basking Ridge Faculty) or your Direct Supervisor to discuss how and whether you can fulfill your employment duties while not on campus. The Contact Tracing Team will <strong>not</strong> directly pass this information on to these individuals on your behalf.</li>
</ol>

<p> If you are seeking clarification, please first review our up-to-date health and safety policies on our <a href="https://www.pingry.org/hp/21-22-bettertogether">Better Together page</a>. If you have any further questions, please reach out to us at <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>.</p>


<p>If you experience any <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html">symptoms of COVID-19</a>, please reach out to your healthcare provider and contact Pingry via email at <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>.</p>

<p>We truly appreciate your cooperation in keeping the Pingry community safe. You may also be contacted by the local Department of Health. Please let us know if there is anything we can do to help support you during this time.</p>

<p>Thank you,</p>
<p>The Pingry School</p>

<p>CONFIDENTIAL AND/OR PRIVILEGED: This communication contains information intended only for use by the individual or entity to which it is addressed and may contain private and/or sensitive information. If you are not the intended recipient or have received this message in error, you are hereby notified that any disclosure, copying, distribution or use of its content is strictly prohibited and illegal. If you have received this transmission in error, please notify the above sender immediately and permanently destroy all copies of this message.</p>
