<h1>Pingry COVID Update</h1>
<h2>A change has been noted on your student's quarantine status</h2>
<hr/>

<p>Dear Parent or Guardian of <%= "#{@student.first_name} #{@student.last_name}" %>,</p>

<p>According to Pingry's official COVID-19 database, <%= @student.first_name %> is currently in a 14 day quarantine. The updated status of your student's quarantine is listed below:</p>

<ul>
    <li>Date of Exposure: <%= @quarantine.exposure %></li>
    <li>Date of Completion: <%= @quarantine.exposure + 14 %></li>
    <li>Status: <%= if @quarantine.completed
            "Completed"    
        else 
            "Incomplete"
        end %></li>
</ul>

If <%= @student.first_name %> begins developing symptoms (while quarantine is incomplete) or has any other changes in quarantine status, please contact <a href="mailto:ecarannante@pingry.org">Erin Carannante</a>. Thank you for your help in keeping Pingry safe!</p>

<p>The Pingry School</p>
<img src="https://americanwaterpolo.org/wp-content/uploads/2018/07/PingrySchool_WhiteJuly232018.jpg" width=100 height=50>

<p></p>