<h3>Pingry COVID-19 Update</h3>
<h5>Your child has just entered a quarantine period</h5>
<hr/>

<p>Dear Caregiver of <%= "#{@student.first_name}"%>,</p>

<p>Your child has been identified by Pingry’s Contact Tracing Team as having had close contact with a COVID-19 case on <%= @quarantine.exposure %>.
<% if @quarantine.is_seven_day %>
    Currently, the regional <a href="https://www.nj.gov/health/cd/documents/topics/NCOV/COVID_19_Report_Week_2021_14.pdf">CALI SCORE</a> permits Pingry to adopt a seven-day quarantine period for those who have come into close contact with anyone who tested positive for COVID-19. Accordingly, <%= @student.first_name%> may return to our campus on <%= @quarantine.end_date || @quarantine.exposure + 8%> provided the following criteria have been met:</p>

    <ol>
        <li><%= @student.first_name %> must have quarantined for at least seven consecutive days.</li>
        <li><%= @student.first_name %> must have remained completely without symptoms for the entirety of the quarantine period.</li>
        <li><%= @student.first_name %>  must have obtained a “NEGATIVE” or “NOT DETECTED” result from a polymerase chain reaction (PCR) test taken on or after <%= @quarantine.exposure + 5 %></li>
    </ol>

    <p>Pingry’s pool testing may be used as long as:</p>
    <ol>
        <li>The saliva sample was generated on or after <%= @quarantine.exposure + 5%>.</li>
        <li>Results from the testing cycle have been completed and you have been <strong>individually notified via email</strong> that <%= @student.first_name %> is cleared to return to campus.</li>
    </ol>

    <p>
    If Pingry’s pool test does not align with <%= @student.first_name %>’s  quarantine timeline, we would encourage you to seek an independent PCR test to satisfy this requirement of an abbreviated quarantine. Results from <%= @student.first_name %>’s PCR test must be submitted to <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a> and our school nurses. For Short Hills students please submit your results to <a href="mailto: pedell@pingry.org">Paula Edell</a>, for Basking Ridge students please submit your results to <a href="mailto: jdibiasi@pingry.org">Jennifer DiBiasi</a> and/or <a href="mailto: jlivak@pingry.org">Joy Livak</a>. 
    </p>
<% else %>
    <p>In order to minimize potential community transmission, <strong>your child will need to enter a mandatory 14-day quarantine starting on <%= @quarantine.exposure %> and ending on <%= @quarantine.end_date || @quarantine.exposure + 14 %></strong>. Your child’s earliest possible date of return to campus is on <%= @quarantine.end_date ? @quarantine.end_date + 1 : @quarantine.exposure + 15 %>, regardless of a physician’s clearance and/or a negative result from a COVID-19 test. During this quarantine period, your child is not permitted on Pingry campuses or at in-person Pingry events at any time for any reason.</p>
<% end %>


<p>As part of our contact tracing process, we seek to share the fact that your child has been identified as a close contact as quickly as possible, but we appreciate that a phone call will be helpful to process this information and ask clarifying questions. <strong>A member of the Contact Tracing team will be in touch, via phone, within the next 48 hours. If you do not receive a call, please reach out to us at <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a></strong>. We appreciate your understanding that weekends and/or holidays may cause a slight delay.</p>

<p>Please monitor your child for any symptoms of COVID-19. If <%= @student.first_name %> develops any of the following symptoms, please reach out to your healthcare provider and notify us via email at <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>:</p>

<ul>
    <li>Fever or chills</li>
    <li>Cough</li>
    <li>Shortness of breath or difficulty breathing</li>
    <li>Fatigue</li>
    <li>Muscle or body aches</li>
    <li>New loss of taste or smell</li>
    <li>Sore throat</li>
    <li>Congestion or runny nose</li>
    <li>Nausea or vomiting</li>
    <li>Diarrhea</li>
</ul>

<p>We ask that you inform Pingry that your child will be participating as a remote learner for the duration of their quarantine by emailing the appropriate divisional attendance email:</p>

<ul>
    <li>Lower School: <a href="mailto:lsattendance@pingry.org">lsattendance@pingry.org</a>  + your child's homeroom teacher</li>
    <li>Middle School: <a href="mailto:msattendance@pingry.org">msattendance@pingry.org</a> </li>
    <li>Upper School: <a href="mailto:usattendance@pingry.org">usattendance@pingry.org</a></li>
</ul>

<p>Pingry  respects your family’s privacy and will not be sharing information regarding <%= @student.first_name %>’s quarantine outside of our Contact Tracing Team. However, we do encourage you to connect with <%= @student.first_name %>’s advisor/homeroom teacher to discuss how we can best support <%= @student.first_name %> at this time. You can also feel free to inform coaches, club advisors, or other adult members of the Pingry community if you feel comfortable with doing so.</p>

<p>We truly appreciate your cooperation in keeping the Pingry community safe. You may also be contacted by the local Department of Health. Please let us know if there is anything we can do to help support your family during this time.</p>

<p>Thank you,</p>
<p>The Pingry School</p>

<p>CONFIDENTIAL AND/OR PRIVILEGED: This communication contains information intended only for use by the individual or entity to which it is addressed and may contain private and/or sensitive information. If you are not the intended recipient or have received this message in error, you are hereby notified that any disclosure, copying, distribution or use of its content is strictly prohibited and illegal. If you have received this transmission in error, please notify the above sender immediately and permanently destroy all copies of this message.</p>
