<h3>Pingry COVID-19 Update</h3>
<h5>A change has been noted on your child's quarantine status</h5>
<hr/>

<p>Dear Parent/Guardian of <%= "#{@student.first_name} #{@student.last_name}"%>,</p>

<p>According to Pingry's records, <%= @student.first_name %> is currently in a 14 day quarantine. The updated status of your child’s quarantine is listed below:</p>

<ul>
    <li>Date of Exposure: <%= @quarantine.exposure %></li>
    <li>Date of Completion: <%= @quarantine.exposure + 14 %></li>
    <li>Status: <%= if @quarantine.completed
            "Complete"    
        else 
            "Incomplete"
        end %></li>
</ul>

<p>If <%= @student.first_name %> begins developing symptoms or has any other changes in quarantine status, please contact <a href="mailto:ecarannante@pingry.org">contacttracing@pingry.org</a>. Please note that your child will only be permitted to return to campus once the "Status" field reads "Complete."</p>

<p>Thank you for your help in keeping Pingry safe!</p>
<p>The Pingry School</p>
<img src="https://americanwaterpolo.org/wp-content/uploads/2018/07/PingrySchool_WhiteJuly232018.jpg" width=100 height=50>

