<h3>Pingry COVID-19 Update</h3>
<h5>Your child has just entered a quarantine period</h5>
<hr/>

<p>Dear Parent/Guardian of <%= "#{@student.first_name} #{@student.last_name}"%>,</p>

<p>According to Pingry's records, <%= @student.first_name %> has just entered a mandatory 14 day quarantine period after coming into contact with a presumed or confirmed positive case of COVID-19.</p>

<p>During the 14 day quarantine, <%= @student.first_name %> will not be permitted on either Pingry campus. All courses must be taken remotely under the remote learning guidelines outlined by Pingry Anywhere. If <%= @student.first_name %> begins developing symptoms, please contact <a href="mailto:ecarannante@pingry.org">contacttracing@pingry.org</a>. <%= @student.first_name %> will then be transferred to Pingry's isolation protocol and local public health officials will be notified for contact tracing purposes.</p>

<p>Thank you for your help in keeping Pingry safe!</p>
<p>The Pingry School</p>
<img src="https://americanwaterpolo.org/wp-content/uploads/2018/07/PingrySchool_WhiteJuly232018.jpg" width=100 height=50>

