<h3>Pingry COVID-19 Update</h3>
<h5>You have just entered a quarantine period</h5>
<hr/>

<p>Dear <%= "#{@student.first_name}"%>,</p>

<p>You have been identified by Pingry’s Contact Tracing Team as having had close contact with a COVID-19 case on <%= @quarantine.exposure %>. In order to minimize potential community transmission, <strong>you will need to enter a mandatory quarantine starting on <%= @quarantine.exposure %></strong>. There are two approved options to return to campus from <a href='https://www.cdc.gov/quarantine/index.html'>quarantine.</a></p> 


<strong>Option 1: </strong>
<p>Quarantine at home for 10 days starting on <%= @quarantine.exposure %> and ending on <%= @quarantine.exposure + 10%>. Your earliest possible date of return to campus would be on <%= @quarantine.exposure + 11 %>.</p>

<strong>Option 2:</strong>
<p>Quarantine at home for a minimum of 5 days starting on <%= @quarantine.exposure %> and ending on <%= @quarantine.exposure + 5 %>. Your earliest possible day of return to campus would be on <%= @quarantine.exposure + 6 %> provided you meets all of the following criteria: </p>

<ul>
    <li>You remain asymptomatic for the duration of the quarantine period</li>
    <li>You submit a negative test result from a rapid antigen test (at home or administered by a physician) taken on or after <%= @quarantine.exposure + 5 %> to <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>, including full name, date of birth and date of test taken.</li>
</ul>

<p>During this quarantine period, you are not permitted on Pingry campuses, at in-person Pingry events, or around Pingry community members at any time for any reason.</p>

<p><strong>Your immediate next steps are:</p>
<ol>
    <li>Contact Human Resources and</li>
    <li>Either your Division Director</strong> (and Department Chair for Basking Ridge Faculty) or your Direct Supervisor to discuss how and whether you can fulfill your employment duties while not on campus. The Contact Tracing Team will <strong>not</strong> directly pass this information on to these individuals on your behalf.</li>
</ol>

<p>As part of our contact tracing process, we seek to share the fact that you have been identified as a close contact as quickly as possible, but we appreciate that a phone call will be helpful to process this information and ask clarifying questions. <strong>A member of the Contact Tracing team will be in touch, via phone, within the next 48 hours. If you do not receive a call, please reach out to us at <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a></strong>. We appreciate your understanding that weekends and/or holidays may cause a slight delay.</p>

<p>Please monitor for any symptoms of COVID-19. If you develop any of the following symptoms, please reach out to your healthcare provider and notify us via email at <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>:</p>

<ul>
    <li>Fever or chills</li>
    <li>Cough</li>
    <li>Shortness of breath or difficulty breathing</li>
    <li>Fatigue</li>
    <li>Muscle or body aches</li>
    <li>New loss of taste or smell</li>
    <li>Sore throat</li>
    <li>Congestion or runny nose</li>
    <li>Nausea or vomiting</li>
    <li>Diarrhea</li>
</ul>

<p>We truly appreciate your cooperation in keeping the Pingry community safe. You may also be contacted by the local Department of Health. Please let us know if there is anything we can do to help support you during this time.</p>

<p>Thank you,</p>
<p>The Pingry School</p>

<p>CONFIDENTIAL AND/OR PRIVILEGED: This communication contains information intended only for use by the individual or entity to which it is addressed and may contain private and/or sensitive information. If you are not the intended recipient or have received this message in error, you are hereby notified that any disclosure, copying, distribution or use of its content is strictly prohibited and illegal. If you have received this transmission in error, please notify the above sender immediately and permanently destroy all copies of this message.</p>
