<h3>Pingry COVID-19 Update</h3>
<h5>You have just entered a quarantine period</h5>
<hr/>

<p>Dear <%= "#{@student.first_name}"%>,</p>

<p>You have been identified by Pingry’s Contact Tracing Team as having had close contact with a COVID-19 case on <%= @quarantine.exposure %> (see our <a href="https://pingryanywhere.org/health-safety/covid-19-contact-tracing/">COVID-19 Contact Tracing</a> page for more information about the process and close contact definition).</p>

<p>In order to minimize potential community transmission, <strong>you will need to enter a mandatory 14-day quarantine starting on <%= @quarantine.exposure %> and ending on <%= @quarantine.end_date || @quarantine.exposure + 14 %></strong>. Your earliest possible date of return to campus is on <%= @quarantine.end_date ? @quarantine.end_date + 1 : @quarantine.exposure + 15 %>, regardless of a physician’s clearance and/or a negative result from a COVID-19 test. During this quarantine period, you are not permitted on Pingry campuses or at in-person Pingry events at any time for any reason.</p>

<p><strong>Your next immediate steps are:</p>

<ol>
    <li>Contact Human Resources and</li>
    <li>Either your Division Director</strong> (and Department Chair for Basking Ridge Faculty) or your Direct Supervisor to discuss how and whether you can fulfill your employment duties while not on campus. The Contact Tracing Team will <strong>not</strong> directly pass this information on to these individuals on your behalf.</li>
</ol>


<p>As part of our contact tracing process, we seek to share the fact that you have been identified as a close contact as quickly as possible, but we appreciate that a phone call will be helpful to process this information and ask clarifying questions. A member of the Contact Tracing team will be in touch, via phone, within the next 48 hours. If you do not receive a call, please reach out to us at <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>. We appreciate your understanding that weekends and/or holidays may cause a slight delay.</p>

<p>Please monitor for any symptoms of COVID-19. If you develop any of the following symptoms, please reach out to your healthcare provider and notify us via email at <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>:</p>

<ul>
    <li>Fever or chills</li>
    <li>Cough</li>
    <li>Shortness of breath or difficulty breathing</li>
    <li>Fatigue</li>
    <li>Muscle or body aches</li>
    <li>New loss of taste or smell</li>
    <li>Sore throat</li>
    <li>Congestion or runny nose</li>
    <li>Nausea or vomiting</li>
    <li>Diarrhea</li>
</ul>

<p>We truly appreciate your cooperation in keeping the Pingry community safe. You may also be contacted by the local Department of Health. Please let us know if there is anything we can do to help support you during this time.</p>

<p>Thank you,</p>
<p>The Pingry School</p>

<p>CONFIDENTIAL AND/OR PRIVILEGED: This communication contains information intended only for use by the individual or entity to which it is addressed and may contain private and/or sensitive information. If you are not the intended recipient or have received this message in error, you are hereby notified that any disclosure, copying, distribution or use of its content is strictly prohibited and illegal. If you have received this transmission in error, please notify the above sender immediately and permanently destroy all copies of this message.</p>

