<h3>Pingry COVID-19 Update</h3>
<h5>Your child has just entered a quarantine period</h5>
<hr/>

<p>Dear Parent/Guardian of <%= "#{@student.first_name}"%>,</p>

<p>Your child has been identified by Pingry’s Contact Tracing Team as having had close contact with a COVID-19 case on <%= @quarantine.exposure %>. In order to minimize potential community transmission, <strong>your child will need to enter a mandatory quarantine starting on <%= @quarantine.exposure %></strong>. There are two approved options to return to campus from <a href='https://www.cdc.gov/quarantine/index.html'>quarantine.</a></p> 



<strong>Option 1: </strong>
<p>Quarantine at home for 10 days beginning <%= @quarantine.exposure %> and ending on <%= @quarantine.exposure + 10%>. <%= "#{@student.first_name}"%>’s earliest possible date of return to campus would be on <%= @quarantine.exposure + 11 %>.</p>

<strong>Option 2:</strong>
<p>Quarantine at home for a minimum of five days beginning <%= @quarantine.exposure %> and ending on <%= @quarantine.exposure + 5 %>. <%= "#{@student.first_name}"%>’s earliest possible day of return to campus would be on <%= @quarantine.exposure + 6 %> provided your child meets all of the following criteria: </p>

<ul>
    <li>Remains asymptomatic for the duration of the quarantine period</li>
    <li>Submit a negative test result from a rapid antigen test — administered at home or by a physician and taken on or after day five of the isolation period — to the appropriate campus nurse and ContactTracing@pingry.org, including full name, date of birth, and date of test taken. Click <a href="https://www.pingry.org/hp/21-22-bettertogether/example-photo-test-result-rat">here</a> for an example.</li>
</ul>

<p>During this quarantine period, your child is not permitted on Pingry's campuses, at in-person Pingry events, or around Pingry community members at any time for any reason.</p>

<p>Should our Contact Tracing Team identify your child as a close contact and your child’s vaccination records are not already uploaded and approved by the time you receive this notification, <strong>your child must remain at home</strong> — even if they are vaccinated — until our school nurses approve their vaccination records. <strong>This process may take up to one business day, during which your child must stay at home as a remote learner.</strong></p>

<p>If you are seeking clarification, please first review our up-to-date health and safety policies on our <a href="https://www.pingry.org/hp/21-22-bettertogether">Better Together</a> page. Please note that you may also be contacted by the local Department of Health. If you have any further questions, please reach out to us at contacttracing@pingry.org.</p>

<p>During this time, please inform Pingry that your child will participate in remote learning for the duration of their quarantine by emailing the appropriate divisional attendance email:</p>

<ul>
    <li>Lower School: <a href="mailto:lsattendance@pingry.org">lsattendance@pingry.org</a>  + your child's homeroom teacher</li>
    <li>Middle School: <a href="mailto:msattendance@pingry.org">msattendance@pingry.org</a> </li>
    <li>Upper School: <a href="mailto:usattendance@pingry.org">usattendance@pingry.org</a></li>
</ul>

<p>We encourage you to connect with <%= @student.first_name %>’s advisor/homeroom teacher to discuss how we can best support <%= @student.first_name %> at this time. Please feel free to also inform coaches, club advisors, or other adult members of the Pingry community if you feel comfortable doing so.</p>


<p>Pingry  respects your family’s privacy and will not be sharing information regarding ’s quarantine outside of our Contact Tracing Team. However, we do encourage you to connect with <%= @student.first_name %>’s advisor/homeroom teacher to discuss how we can best support <%= @student.first_name %> at this time. You can also feel free to inform coaches, club advisors, or other adult members of the Pingry community if you feel comfortable with doing so.</p>

<p>If <%= @student.first_name %> experiences any <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html">symptoms of COVID-19</a>, please reach out to your healthcare provider and contact Pingry via email at <a href="mailto:ContactTracing@pingry.org">ContactTracing@pingry.org</a>.</p>

<p>We truly appreciate your cooperation in keeping the Pingry community safe.</p>

<p>Thank you,</p>
<p>The Pingry School</p>

<p>CONFIDENTIAL AND/OR PRIVILEGED: This communication contains information intended only for use by the individual or entity to which it is addressed and may contain private and/or sensitive information. If you are not the intended recipient or have received this message in error, you are hereby notified that any disclosure, copying, distribution or use of its content is strictly prohibited and illegal. If you have received this transmission in error, please notify the above sender immediately and permanently destroy all copies of this message.</p>
