<h3>Pingry COVID-19 Update</h3>
<h5>Your child has started an isolation period.</h5>
<hr/>

<p>Dear Caregiver of <%= "#{@student.first_name}"%>,</p>

<p>Thank you for notifying Pingry regarding <%= @student.first_name %>’s positive COVID-19 diagnosis. Your willingness to share this information will help ensure we continue to keep our community safe. Our wishes are for <%= @student.first_name %> to have a speedy and restful recovery.  </p>


<p>According to the information on file, <strong>your child entered a mandatory 10-day-minimum isolation starting on <%= @isolation.start_isolation %> and ending on <%= @isolation.start_isolation  + 10 %></strong>. Your child’s earliest possible date of return to campus is on <%= @isolation.start_isolation  + 11 %>. Pingry would also like to inform you that <%= @student.first_name %> is now exempt from participation in our weekly pooled testing until the testing cycle after <%= @isolation.start_isolation  + 90 %>. We will be periodically checking in with you and your child during your child’s isolation. During this isolation period, your child is not permitted on Pingry campuses or at in-person Pingry events at any time for any reason.</p>

<p>Attached to this email you will find Pingry’s COVID-19 clearance form. <strong>This form must be completed by <%= @student.first_name %>’s physician and returned to our school nurses prior to your child’s return to campus.</strong> Pingry will only accept the attached form and will not accept independent physician’s clearance notes. For those on the Short Hills Campus, please submit the form to <a href="mailto: pedell@pingry.org">Paula Edell</a>. For those on the Basking Ridge Campus, please submit the form to <a href="mailto: jdibiasi@pingry.org">Jennifer DiBiasi</a> and <a href="mailto: jlivak@pingry.org">Joy Livak</a>. Please note that once an individual has tested positive for COVID-19, they are presumed to have contracted the virus. Therefore, we will not accept any changes to this result with any following tests that show a negative result.</p>

<p><strong>If you haven’t already been in touch with a member of the Pingry Contact Tracing Team please reach out to <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a> and a member of the team will be in touch soon</strong>. It is essential that you connect with our Contact Tracing Team to help minimize potential community spread.</p>

<p>Pingry  respects your family’s privacy and will not be sharing information regarding <%= @student.first_name %>’s isolation outside of our contact tracing team. However, we do encourage you to connect with <%= @student.first_name %>’s advisor/homeroom teacher to discuss how we can best support <%= @student.first_name %> at this time. You can also feel free to inform coaches, club advisors, or other adult members of the Pingry community if you feel comfortable with doing so.</p>

<p>If your child feels able to attend classes, they may engage as a remote learner in Pingry Anywhere. <strong>We do ask that you inform Pingry if your child will indeed be participating as a remote learner in <a href="https://pingryanywhere.org/">Pingry Anywhere</a> for the duration of their isolation by emailing the appropriate divisional attendance email:</strong></p>

<ul>
    <li>Lower School: <a href="mailto:lsattendance@pingry.org">lsattendance@pingry.org</a>  + your child's homeroom teacher</li>
    <li>Middle School: <a href="mailto:msattendance@pingry.org">msattendance@pingry.org</a> </li>
    <li>Upper School: <a href="mailto:usattendance@pingry.org">usattendance@pingry.org</a></li>
</ul>

<p>If you have updates regarding your child’s status, please email us at <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>.</p>

<p>Thank you for your partnership as we work to keep Pingry safe! You may receive more information from your local health department for additional contact tracing efforts.</p>

<p>The Pingry School</p>

<p>CONFIDENTIAL AND/OR PRIVILEGED: This communication contains information intended only for use by the individual or entity to which it is addressed and may contain private and/or sensitive information. If you are not the intended recipient or have received this message in error, you are hereby notified that any disclosure, copying, distribution or use of its content is strictly prohibited and illegal. If you have received this transmission in error, please notify the above sender immediately and permanently destroy all copies of this message.</p>

