<h3>Pingry COVID-19 Update</h3>
<h5>Your child has started an isolation period.</h5>
<hr/>

<p>Dear Parent/Guardian of <%= "#{@student.first_name} #{@student.last_name}"%>,</p>

<p>The Pingry School has been notified that <%= @student.first_name %> has entered a mandatory isolation period after receiving a presumed or confirmed positive diagnosis for COVID-19. You will soon receive a call from one of our certified contact tracers in regards to this matter. In accordance with the Community Pledge, please ensure that you speak with the Pingry contact tracer who calls you.</p>

<p>You will receive more information from your local health department for additional contact tracing efforts, but please refer to the following information in regards to Pingry's protocols.</p>

<p>The isolation period will last at least 10 days following the first day of symptom improvement. Additionally, the student must be fever-free, without the use of fever suppressants, for 24 hours. During the isolation, <%= @student.first_name %> will not be permitted on either Pingry campus. If your child feels able to attend classes, they may engage in virtual coursework through the flexible learning model established by Pingry Anywhere. If there are any updates to your child’s isolation status, please email <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>. Such updates should include the first day of symptom improvement and the 24-hour fever-free period. After reporting these changes, you will receive an email confirming the updates to your child’s isolation status. Thank you for your partnership as we work to keep Pingry safe!</p>

Your Child's Current Isolation Status: 
<ul>
    <li>Start: <%= @isolation.start_isolation %></li>
    <li>Date of Symptom Improvement: <%= @isolation.date_improving || "Not Yet Improving" %></li>
    <li><%= @isolation.confirmed ? "Confirmed Positive" : "Presumed Positive" %> </li>
    <li>Earliest Possible End Date: <%= @isolation.end_date || "Not Listed" %></li>
    <li>Overall Status: <%= @isolation.completed ? "Isolation Complete" : "Isolation Incomplete" %></li>
</ul>

<p>Best wishes for a speedy recovery,</p>
<p>The Pingry School</p>
<img src="https://americanwaterpolo.org/wp-content/uploads/2018/07/PingrySchool_WhiteJuly232018.jpg" width=100 height=50>

