<h3>Pingry COVID-19 Update</h3>
<h5>Your child has started an isolation period.</h5>
<hr/>

<p>Dear Parent/Guardian of <%= "#{@student.first_name}"%>,</p>


<p>We are very sorry that your child recently tested positive for COVID-19. We are hoping for a speedy and restful recovery and look forward to seeing <%= @student.first_name %> back at school soon.</p>


<p>According to our records, on <%= @isolation.start_isolation %>, your child's mandatory isolation period began. As such, there are two approved options to return to campus from <a href='https://www.cdc.gov/quarantine/index.html'>isolation.</a></p>

<strong>Option 1:</strong>
<p>Isolate at home for 10 days. If you choose this option, your child's isolation will end on <%= @isolation.start_isolation + 10 %>. Your child's earliest possible date of return to campus is on <%= @isolation.start_isolation + 11 %>. We recommend that you inform your child's Primary Care Physician of <%= @student.first_name %>'s positive COVID-19 result as soon as possible. <strong>Your child is also required to have a <a href='https://resources.finalsite.net/images/v1643136951/pingry/a92anyd1nkcvbfcfsod0/COVID-19_Clearance_Form_1_25_22.pdf'>COVID-19 Clearance Form</a> signed by an appropriate medical professional (MD, DO, PA, APN) on file before returning to in-person learning.</strong> Forms for students at Short Hills should be submitted to <a href="mailto: pedell@pingry.org">Paula Edell</a>. Forms for Basking Ridge students must be submitted to <a href="mailto: jdibiasi@pingry.org">Jennifer DiBiasi</a> and <a href="mailto: jlivak@pingry.org">Joy Livak</a>.</p>

<strong>Option 2:</strong>
<p>Isolate at home for a minimum of 5 days. If you choose this option, your child's isolation will end on <%= @isolation.start_isolation + 5 %>. Your child's earliest possible date of return to campus is on <%= @isolation.start_isolation + 6 %>. Beginning on <%= @isolation.start_isolation + 6 %>, your child may return to campus only if they meet all criteria below:</p>

<ul>
    <li>Have been fever-free for at least 72 hours</li>
    <li>Symptoms have resolved or significantly improved since testing positive</li>
    <li>Do not have a runny nose (i.e., does not impede proper mask use)</li>
    <li>Do not have more than a minimal cough (i.e., does not interrupt work and does not impede proper mask use)</li>
    <li>Submit a negative test result from a rapid antigen test — administered at home or by a physician and taken on or after day five of the isolation period — to the appropriate campus nurse and <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>, including full name, date of birth, and date of test taken. Click <a href="https://www.pingry.org/hp/21-22-bettertogether/example-photo-test-result-rat">here</a> for an example.</li>
    <li>Submit a <a href='https://resources.finalsite.net/images/v1643136951/pingry/a92anyd1nkcvbfcfsod0/COVID-19_Clearance_Form_1_25_22.pdf'>COVID-19 Clearance Form</a> signed by an appropriate medical professional (MD, DO, PA, APN) prior to returning to in-person learning. We recommend that you inform your child's Primary Care Physician of <%= @student.first_name %>'s positive COVID-19 result as soon as possible. <strong>Please submit COVID-19 Clearance Forms with your negative test result from a rapid antigen test to either <a href="mailto: pedell@pingry.org">Paula Edell</a> (Short Hills students) or <a href="mailto: jdibiasi@pingry.org">Jennifer DiBiasi</a> and <a href="mailto: jlivak@pingry.org">Joy Livak</a> (Basking Ridge students).</strong></li>
</ul>

<p><%= @student.first_name %> should not participate in our weekly pooled testing until the testing cycle after <%= @isolation.start_isolation + 90 %>. <strong>You will be charged $30 each time your child submits a sample for pooled testing within the 90-day window after testing positive.</strong> We will periodically check in with you and your child during your child's isolation period. During this time, your child is not permitted on Pingry campuses, at in-person Pingry events, or around Pingry community members at any time for any reason. Please note that once an individual has tested positive for COVID-19, they are presumed to have contracted the virus. Therefore, we will not accept any changes to this result with any subsequent tests that show a negative result — until on or after day five of isolation.</p>

<p>If you have not yet been in contact with a member of the Pingry Contact Tracing Team, please reach out to contacttracing@pingry.org, and a member of the team will get back to you as soon as possible. It is essential that you connect with our Contact Tracing Team to help minimize potential community spread.</p>

<p>Pingry respects your family’s privacy and will not be sharing information regarding <%= @student.first_name %>’s isolation outside of our contact tracing team. However, we do encourage you to connect with your child's advisor/homeroom teacher to discuss how our school can best support <%= @student.first_name %> at this time. Feel free to also inform coaches, club advisors, or other adult members of the Pingry community if you feel comfortable with doing so.</p>

<p>If your child is not exhibiting symptoms and is able to attend classes, they may engage as a remote learner. <strong>Please inform Pingry if your child will be participating in remote learning for the duration of their isolation by emailing the appropriate divisional attendance email:</strong></p>

<ul>
    <li>Lower School: <a href="mailto:lsattendance@pingry.org">lsattendance@pingry.org</a>  + your child's homeroom teacher</li>
    <li>Middle School: <a href="mailto:msattendance@pingry.org">msattendance@pingry.org</a> </li>
    <li>Upper School: <a href="mailto:usattendance@pingry.org">usattendance@pingry.org</a></li>
</ul>

<p>If you have updates regarding your child’s status, please email us at <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>.</p>

<p>Thank you for your partnership as we work to keep Pingry safe!</p>
<p>The Pingry School</p>

<p>CONFIDENTIAL AND/OR PRIVILEGED: This communication contains information intended only for use by the individual or entity to which it is addressed and may contain private and/or sensitive information. If you are not the intended recipient or have received this message in error, you are hereby notified that any disclosure, copying, distribution or use of its content is strictly prohibited and illegal. If you have received this transmission in error, please notify the above sender immediately and permanently destroy all copies of this message.</p>
