<h3>Pingry COVID-19 Update</h3>
<h5>Your have started an isolation period.</h5>
<hr/>

<p>Dear <%= "#{@student.first_name}"%>,</p>


<p>We are very sorry that you have recently tested positive for COVID-19. We are hoping for a speedy and restful recovery and look forward to seeing you back at school soon.</p>


<p>According to our records, on <%= @isolation.start_isolation %>, your isolation period began. As such, there are two approved options to return to campus from <a href='https://www.cdc.gov/quarantine/index.html'>isolation.</a></p>

<strong>Option 1:</strong>
<p>Isolate at home for 10 days. If you choose this option, your isolation will end on <%= @isolation.start_isolation + 10 %>. Your earliest possible date of return to campus is on <%= @isolation.start_isolation + 11 %>.</p>

<strong>Option 2:</strong>
<p>Isolate at home for a minimum of 5 days. If you choose this option, your isolation will end on <%= @isolation.start_isolation + 5 %>. Your earliest possible date of return to campus is on <%= @isolation.start_isolation + 6 %>. Beginning on <%= @isolation.start_isolation + 6 %>, you may return to campus only if you meet all the  criteria below:</p>

<ul>
    <li>Have been fever-free for at least 72 hours</li>
    <li>Symptoms have resolved or significantly improved since testing positive</li>
    <li>Do not have a runny nose (i.e., does not impede proper mask use)</li>
    <li>Do not have more than a minimal cough (i.e., does not interrupt work and does not impede proper mask use)</li>
    <li>Submit a negative test result from a rapid antigen test — administered at home or by a physician and taken on or after day five of the isolation period — to the appropriate campus nurse and <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>, including full name, date of birth, and date of test taken. Click <a href="https://www.pingry.org/hp/21-22-bettertogether/example-photo-test-result-rat">here</a> for an example.</li>
    <li><strong>Wear a mask while on campus between <%= @isolation.start_isolation + 6 %> and <%= @isolation.start_isolation + 10 %>.</strong></li>
</ul>

<p>We will periodically check in with you during your isolation period. During this time, you are not permitted on Pingry campuses, at in-person Pingry events, or around Pingry community members at any time for any reason. Please note that once an individual has tested positive for COVID-19, they are presumed to have contracted the virus. Therefore, we will not accept any changes to this result with any subsequent tests that show a negative result until on or after day five of isolation.</p>

<p><strong>Your next immediate steps are:</p>
<ol>
    <li>Contact Human Resources and</li>
    <li>Either your Division Director</strong> (and Department Chair for Basking Ridge Faculty) or your Direct Supervisor to discuss how and whether you can fulfill your employment duties while not on campus. The Contact Tracing Team will <strong>not</strong> directly pass this information on to these individuals on your behalf.</li>
</ol>

<p>If you have not yet been in contact with a member of the Pingry Contact Tracing Team, please reach out to contacttracing@pingry.org, and a member of the team will get back to you as soon as possible. It is essential that you connect with our Contact Tracing Team to help minimize potential community spread.</p>

<p>If you have updates regarding your status, please email us at <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>.</p>

<p>Thank you for your partnership as we work to keep Pingry safe! You may also be contacted by the local Department of Health.</p>

<p>The Pingry School</p>

<p>CONFIDENTIAL AND/OR PRIVILEGED: This communication contains information intended only for use by the individual or entity to which it is addressed and may contain private and/or sensitive information. If you are not the intended recipient or have received this message in error, you are hereby notified that any disclosure, copying, distribution or use of its content is strictly prohibited and illegal. If you have received this transmission in error, please notify the above sender immediately and permanently destroy all copies of this message.</p>