<h1>Pingry COVID Update</h1>
<h2>Start of isolation period.</h2>
<hr/>

<p>Dear <%= "#{@student.last_name}" %> Family,</p>

<p>According to Pingry's official COVID-19 database, <%= @student.first_name %> has just entered a mandatory period of isolation after receiving a presumed or confirmed positive diagnosis for COVID-19. The isolation period will last at least 10 days after the first day of symptom improvement with at least one 24 hour period in which the student is completely fever-free without the use of fever suppressants.</p>

<p>During the isolation, <%= @student.first_name %> will not be permitted on any Pingry campus. If the student feels capable of taking courses, they may engage with coursework through the flexible virtual learning model established by Pingry Anywhere. If <%= @student.first_name %> has any updates to their isolation status, please contact <a href="mailto:ecarannante@pingry.org">Erin Carannante</a>. Updates include first day of symptom improvement and the 24 hour fever free period. Since <%= @student.first_name %> has a presumed or confirmed positive case of COVID-19, local health officials will be notified for contact tracing purposes. Thank you for your help in keeping Pingry safe!</p>

Your Current Isolation Status: 
<ul>
    <li>Start: <%= @isolation.start_isolation %></li>
    <li>Date of Symptom Improvement: <%= @isolation.date_improving || "Not Yet Improving" %></li>
    <li><%= @isolation.confirmed ? "Confirmed Positive" : "Presumed Positive" %> </li>
    <li>Earliest Possible End Date: <%= @isolation.end_date %></li>
    <li>Overall Status: <%= @isolation.completed ? "Isolation Complete" : "Isolation Incomplete" %></li>
</ul>


<p>The Pingry School</p>
<img src="https://americanwaterpolo.org/wp-content/uploads/2018/07/PingrySchool_WhiteJuly232018.jpg" width=100 height=50>

<p></p>