<h3>Pingry COVID-19 Update</h3>
<h5>Your child has started an isolation period.</h5>
<hr/>

<p>Dear Parent/Guardian of <%= "#{@student.first_name}"%>,</p>

<p>The Pingry School has been notified that your child has been identified as one of two individuals in a potentially positive pair resulting from Pingry’s weekly COVID-19 testing. Your child will enter a <strong>mandatory isolation starting on <%= @isolation.start_isolation %></strong>.</p>

<p>You will have three options for your child's attendance at school. Please note that the first option listed is the one that we strongly recommend. Your child may:</p>

<ol>
    <li>Click on this <a href="https://covid-app.meenta.io/pooling/m1gT7fzM14Rny1dtrp7C">link</a> to have your child's sample re-reviewed. Before you follow these steps, you will need to reach out to <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a> to obtain the collection tube barcode number from your child's sample.</li>
        <ul>
            <li>When each individual clicks on the provided link, they will be prompted to enter their sample collection tube barcode and register for a personal account on our third-party results reporting platform.</li>
            <li>The individual will register for an account, sign consent, provide demographics, and answer health history screening questions.</li>
            <li>Upon completion of the above, a physician’s order will be placed and automatically approved by the system appointed physician.</li>
            <li>The physician’s order approval will then automatically release an individual diagnostic result. When results are ready to view, the individual associated with the sample barcode will be notified via email that their results are ready to view.</li>
            <li>Each individual will log back into the reporting platform and will be able to view and download their individual diagnostic test result.</li>
            <li>The physician who placed the order will attempt three (3) care calls to the phone number provided by the individual to explain individual diagnostic test results and answer any questions.</li>
        </ul>
    <li>Continue the <strong>mandatory 10-day-minimum isolation starting on <%= @isolation.start_isolation %> and ending at the earliest on <%= @isolation.start_isolation + 10%></strong>. Your child’s earliest possible date of return to campus would be on <%= @isolation.start_isolation + 11 %>. During this isolation period, your child is not permitted on Pingry campuses or at in-person Pingry events at any time for any reason. Please reach out to your child’s Division Director for any additional support needed for your child to participate as a remote learner in Pingry Anywhere for the duration of their isolation; or</li>
    <li>Submit results from an independent PCR test administered within the next 48 hours.  Testing sites can be found <a href="https://covid19.nj.gov/pages/testing#test-sites">here</a>. The cost of this test would be your responsibility, but most medical plans cover COVID-19 tests at 100%. If your family receives financial aid and would like to have more guidance and support for your situation, please reach out to <a href="mailto:sschifano@pingry.org">Samantha Schifano</a>, Director of Financial Aid. We encourage you to take this step as soon as possible, since a negative result from a PCR test administered within 48 hours will clear both your child’s isolation status as well as the quarantine status of anyone with whom they came in contact, and allow them to return to campus.  Until you are able to submit a negative test, your child should not return to campus and isolate as described in Scenario 1 above. For Short Hills students, please submit test results to <a href="mailto:pedell@pingry.org">Paula Edell</a>. For Basking Ridge students, please submit test results to <a href="mailto:jdibiasi@pingry.org">Jennifer DiBiasi</a> and <a href="mailto:jlivak@pingry.org">Joy Livak</a>.</li>
</ol>

<p>A member of the Pingry Contact Tracing Team will be calling you shortly to conduct a contact tracing interview and connect on next steps. If you do not receive a call within the next 24 hours, please reach out to us at <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>. It is essential that you connect with our Contact Tracing Team to help minimize potential community spread. All information is confidential and will only be shared as needed within Pingry’s Contact Tracing Team. We respect your family’s privacy and will not be sharing this information broadly with members of Pingry’s community (including advisors, homeroom teachers, coaches, etc.). You are, of course, welcome to share details about your absence from school if you would like there to be better clarity or transparency regarding the absence, but you are not required to do so.</p>

<p>If your child becomes symptomatic (e.g., fever, sore throat, uncontrolled cough, diarrhea, vomiting, abdominal pain, severe headache), please notify us immediately. Your child must also be fever-free for at least 24 hours without the use of fever suppressants and show improvement of symptoms before being released from isolation. We will be periodically checking in with you and your child during your child’s isolation. If you have updates regarding your child’s status, please email us at <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>.</p>

<p>Thank you for your partnership as we work to keep Pingry safe!</p>
<p>The Pingry School</p>

<p>CONFIDENTIAL AND/OR PRIVILEGED: This communication contains information intended only for use by the individual or entity to which it is addressed and may contain private and/or sensitive information. If you are not the intended recipient or have received this message in error, you are hereby notified that any disclosure, copying, distribution or use of its content is strictly prohibited and illegal. If you have received this transmission in error, please notify the above sender immediately and permanently destroy all copies of this message.</p>

