<h3>Pingry COVID-19 Update</h3>
<h5>Your child has started an isolation period.</h5>
<hr/>

<p>Dear Parent/Guardian of <%= "#{@student.first_name} #{@student.last_name}"%>,</p>

<p>The Pingry School has been notified that <%= @student.first_name %> has entered a mandatory isolation period after receiving a potentially positive diagnosis for COVID-19. You will soon receive a call from one of our certified contact tracers in regards to this matter. In accordance with the Community Pledge, please ensure that you speak with the Pingry contact tracer who calls you.</p>

<p>By nature of Pingry's testing arrangement, samples can only be tested in groups of two or more. <%= @student.first_name %> received a potentially positive result from a pair of samples. In order to verify your child's COVID-19 status, we encourage you to obtain a PCR test for <%= @student.first_name %> within the next 48 hours. A negative result from a PCR test within 48 hours will allow <%= @student.first_name %> to return to campus. If your child does not get individually tested or receives a positive result from a PCR test, they must follow the procedures outlined below:</p>

<p>The isolation period will last at least 10 days following the first day of symptom improvement. Additionally, the student must be fever-free, without the use of fever suppressants, for 24 hours. During the isolation, <%= @student.first_name %> will not be permitted on either Pingry campus. If your child feels able to attend classes, they may engage in virtual coursework through the flexible learning model established by Pingry Anywhere. If there are any updates to your child’s isolation status, please email <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>. Such updates should include the first day of symptom improvement and the 24-hour fever-free period. After reporting these changes, you will receive an email confirming the updates to your child’s isolation status.</p>

Your Child's Current Isolation Status: 
<ul>
    <li>Start: <%= @isolation.start_isolation %></li>
    <li>Potentially Positive</li>
    <li>Earliest Possible End Date: Contingent Upon Individual Test Result</li>
    <li>Overall Status: Isolation Incomplete</li>
</ul>

<p>Thank you for your partnership as we work to keep Pingry safe!</p>
<p>The Pingry School</p>
<img src="https://americanwaterpolo.org/wp-content/uploads/2018/07/PingrySchool_WhiteJuly232018.jpg" width=100 height=50>

